<a href="https://colab.research.google.com/github/fdotingco/PLNG211-QC/blob/main/Asynchronous.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Arithmetic

In [ ]:
a = 3 + 5 - 6 * 2 / 4
print(a)

Control Statements and Data Structures

In [ ]:
for var in range(0, 5, 2):
  print(var)

In [ ]:
for var in range(0, 5):
  print(var)

In [ ]:
for var in range(5):
  print(var)

In [ ]:
for var in range(2, 5):
  print(var)

#List

Slicing

In [8]:
varList = [1,2,3,4,5,6,7,8,9,10]
print(varList[:5])

[1, 2, 3, 4, 5]

In [ ]:
print(varList[5:])

In [9]:
print(varList[:-2])

[1, 2, 3, 4, 5, 6, 7, 8]

In [10]:
print(varList[-2:])

[9, 10]

In [11]:
print(varList[2:-2])

[3, 4, 5, 6, 7, 8]

In [12]:
print(varList[2:8:2])

[3, 5, 7]

In [ ]:
var1, var2, var3 = "ABC", "DEF", "GHI"
print(var1)
print(var2)
print(var3)
a = b = c = "123"
print(a)
print(b)
print(c)

#Asynchronous

Activity:

In [38]:
Salary_rate = 600 #/day
Salary = Salary_rate * 15 #days
Taxable_amount = .3* Salary #30% of Salary
Net_pay = Salary - Taxable_amount
print("Net Pay is:", Net_pay)

Net Pay is: 6300.0