<a href="https://colab.research.google.com/github/fdotingco/PLNG211-QC/blob/main/Control_and_Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#If Statement

a= 100
b = 100

if a<b:
  print("a is less than b")

In [9]:
#elif Statement

if a<b:
  print('a is less than b')
elif a>b:
  print('a is greater than b')

In [10]:
#Else Statement
if a<b:
  print('a is less than b')
elif a>b:
  print('a is greater than b')
else:
  print('a is equal to b')

a is equal to b

In [14]:
#Short Hand If Statement
c = 5
d = 10

if c>d: print("c is greater than d")

In [15]:
#Short Hand If...Else Statement
print("c>d") if c>d else print("c<d")

c<d

In [ ]:
#And Statement
if 10>5 and 8>4:
  print("Both statements are true")
else:
  print("one or both of the statements are not true")

In [ ]:
#Or Statement
if 10>5 or 8>4:
  print("True")
else:
  print("False")

In [16]:
#Bitwise Operator ^(xor)
e=4   #0100 in binary
f=2   #0010 in binary

e^f

6

In [19]:
#Nested If Statement

x = 39
if x>10:
  print("number is above 10")
  if x>20:
    print("number is above 20")
    if x>30:
      print("number is above 30")
      if x>40:
        print("number is above 40")
        if x>50:
          print("number is above 50")
        else:
          print("number is below 50")
      else:
        print("number is below 40")
    else:
      print("number is below 30")

number is above 10
number is above 20
number is above 30
number is below 40

In [40]:
#Application 1. Write a program that determines if the input age is qualified to vote or not.
#The qualifying age is 18 years old and above.

age = int(input("Enter Age: "))

if age == 18 or age>18:
  print("You are QUALIFIED to vote!")
else:
  print("You are NOT qualified to vote!")

Enter Age: 30
You are QUALIFIED to vote!

In [55]:
#Application 2. Write a program that determines if the input number is POSITIVE, NEGATIVE, or Zero.
num = int(input("Enter a number: "))

if num > 0:
  print("The input number is POSITIVE")
elif num < 0:
  print("The input number is NEGATIVE")
else:
  print("The input number is ZERO")

Enter a number: 0
The input number is ZERO

In [27]:
#For loop Statement
week =["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for y in week:
  print(y)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [28]:
#For loop Statement
week =["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for y in week:
  print(y)
  if y == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [29]:
week =["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for y in week:
  if y == "Thursday":
    break
  print(y)

Sunday
Monday
Tuesday
Wednesday

In [30]:
for x in "week":
  print(x)

w
e
e
k

In [31]:
#Range () Function
for x in range(6):
  print(x)

0
1
2
3
4
5

In [36]:
for x in range(2,6+1,1):
  print(x)

2
3
4
5
6

In [37]:
#Nested Loops
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [38]:
#Python While Loops
i = 1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [39]:
i = 1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [54]:
#Using While Loop and break statement, the output is only "3"
i = 1
while i<9:
  if i==3:
    print(i)
    break
  i += 1

3